/* ----------- General ------------ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Merriweather;
}

html {
	height: 100%;
	background: linear-gradient(120deg,#2C7772,#264F60)
}

body {
	height: 100%;
	display: flex;
}

.dark {

}

.dark-box {
	background-color: #195458;
	margin: 16px 8px;
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}


/* ----------- Communities Selector ------------ */

#communities {
	order: 1;
	display: block;
	min-width: 80px;
	height: 100%;
	background-color: #195458;
	//padding-top: 10px;
	box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.15);
}

img {
	width: 56px;
	height: 56px;
	border-radius: 5px;
	margin: 16px auto;
	position: relative;
	display: block;
}

/* ----------- Main Navigation ------------ */

#main-nav {
	order: 2;
	display: block;
	min-width: 320px;
	height: 100%;
}

#main-nav content {
	width: auto;
	height: 60px;
	margin: 16px 6px;
	padding: 20px 18px;
	font-weight: bold;
	color: white;
}

#main-nav ul {
	list-style-type: none;
	padding: 12px 18px;
	line-height: 2.3;
	color: white;
	font-size: 14px;
	font-weight: lighter;
}

#main-nav h4 {
	margin: 24px auto 12px 32px;
	color: #FAFF80
}

#main-nav .dark-box {
	margin: 16px 8px 16px 16px;
}

/* ----------- Main Content ------------ */

content {
	order: 3;
	display: block;
	width: 70%;
	height: 100% - 32px;
	background-color: white;
	margin: 16px 8px;
	box-shadow: -4px 2px 3px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}


/* ----------- Side Panel ------------ */

aside {
	order: 4;
	display: block;
	width: 30%;
	height: 100% - 32px;
	
}


