/* ----------- General ------------ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Merriweather;
}

html {
	height: 100%;
	background: linear-gradient(170deg,#2C7772,#264F60)
}

body {
	height: 100%;
}

#grid {
	display: grid;
	grid-template-columns: 80px 300px 3fr 1fr;
	grid-template-rows: 80px 1fr;
	height: 100%;
	overflow: scroll;
}

.dark-box {
	background-color: #195458;
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.15);
}

/* ----------- Fonts ------------ */

h1 {
	margin-bottom: 12px;
}

h2 {
	margin-bottom: 24px;
}

h3 {
	margin-top: 24px;
	margin-bottom: 16px;
}

p {
	margin-top: 16px;
	line-height: 1.5;
	font-size: 14px;
	font-weight: lighter;
}

br {
	margin-bottom: 20px;
}

h3.dark {
	color: #FAFF80;
}

h5.dark {
	color: white
}

p.dark {
	color: white;
}

a.dark {
	color: #FAFF80;
	text-decoration: none;
}

/* ----------- Communities Selector ------------ */

#communities {
	grid-column: 1;
	grid-row: 1 / span 2;
	background-color: #195458;
	box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.15);
}

#communities img {
	width: 56px;
	height: 56px;
	border-radius: 10px;
	margin: 16px auto;
	position: relative;
	display: block;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

/* ----------- Main Navigation ------------ */

#main-nav {
	grid-column: 2;
	grid-row: 1 / span 2;
	padding: 20px 16px;
}

#community-info {
	width: auto;
	height: 60px;
	padding: 20px 18px;
	font-weight: bold;
	color: #FAFF80;
	border-radius: 5px;
}

#main-nav menu {
	list-style-type: none;
	padding: 12px 18px;
	line-height: 2.3;
	color: white;
	font-size: 14px;
	font-weight: lighter;
	border-radius: 5px;
}

#main-nav h4 {
	margin: 24px auto 12px 24px;
	color: #FAFF80
}


/* ----------- Main Content ------------ */

#middle-nav {
	grid-column: 3;
	grid-row: 1;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	margin-top: 20px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid lightgrey;
}

content {
	grid-column: 3;
	grid-row: 2;
	background-color: white;
	box-shadow: -4px 2px 3px rgba(0, 0, 0, 0.15);
	overflow: scroll;
	margin-bottom: 20px;
	border-radius: 0px 0px 10px 10px;
}


#middle-nav li {
	list-style-type: none;
	padding: 10px;
	text-transform: uppercase;
	color: #707070;
}

content article {
	margin: 24px 32px 0px 32px;
}

content #banner {
	height: 300px;
	width: 100%;
	background-image: url('https://assets2.rockpapershotgun.com/lost-in-random-town.jpg/BROK/resize/1760%3E/format/jpg/quality/80/lost-in-random-town.jpg'); 
	background-size:cover; 
	background-position:bottom; 
	background-repeat:no-repeat;
}


/* ----------- Side Panel ------------ */

aside {
	grid-column: 4;
	grid-row: 1 / span 2;
	margin: 20px;
	border-radius: 10px;
}

aside article {
	margin: 24px 24px 0px 24px;
}

aside div {
	height: 18px;
}

aside ul {
	list-style-type: none;
	color: #FAFF80;
}

aside li {
	height: 42px;
	margin: auto;
	vertical-align: middle;
}

aside li a {
	display: inline-block;
	margin: auto;
	vertical-align: middle;
	margin-left: 12px
}

aside li img {
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}

aside h3.stats {
	margin: 6px 0px;
}

aside img {
	margin-right: 12px;
	margin-top: 6px;
}