/* ----------- General ------------ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Merriweather;
}

html {
	height: 100%;
	background: linear-gradient(120deg,#2C7772,#264F60)
}

body {
	height: 100%;
	display: flex;
}

.dark {

}

.dark-box {
	background-color: #195458;
	margin: 16px 8px;
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

/* ----------- Fonts ------------ */

h1 {
	margin-bottom: 12px;
}

h2 {
	margin-bottom: 24px;
}

h3 {
	margin-top: 24px;
	margin-bottom: 16px;
}

p {
	margin-top: 16px;
	line-height: 1.5;
}

br {
	margin-bottom: 20px;
}


/* ----------- Communities Selector ------------ */

#communities {
	order: 1;
	display: block;
	min-width: 80px;
	height: 100%;
	background-color: #195458;
	//padding-top: 10px;
	box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.15);
}

#communities img {
	width: 56px;
	height: 56px;
	border-radius: 5px;
	margin: 16px auto;
	position: relative;
	display: block;
}

/* ----------- Main Navigation ------------ */

#main-nav {
	order: 2;
	display: block;
	min-width: 320px;
	height: 100%;
}

#main-nav content {
	width: auto;
	height: 60px;
	margin: 16px 6px;
	padding: 20px 18px;
	font-weight: bold;
	color: white;
}

#main-nav menu {
	list-style-type: none;
	padding: 12px 18px;
	line-height: 2.3;
	color: white;
	font-size: 14px;
	font-weight: lighter;
}

#main-nav h4 {
	margin: 24px auto 12px 32px;
	color: #FAFF80
}

#main-nav .dark-box {
	margin: 16px 8px 16px 16px;
}

/* ----------- Main Content ------------ */

content {
	order: 3;
	display: block;
	width: 70%;
	height: 100% - 32px;
	background-color: white;
	margin: 16px 8px;
	box-shadow: -4px 2px 3px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	overflow: scroll;
}

content menu {
	height: 60px;
	width:100%;
	margin: auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}


content menu li {
	list-style-type: none;
	padding: 10px;
	text-transform: uppercase;
	color: #707070;
}

content article {
	margin: 24px 32px 0px 32px;
}

content #banner {
	height: 300px;
	width: 100%;
	background-image: url('https://assets2.rockpapershotgun.com/lost-in-random-town.jpg/BROK/resize/1760%3E/format/jpg/quality/80/lost-in-random-town.jpg'); 
	background-size:cover; 
	background-position:bottom; 
	background-repeat:no-repeat;
}

/*content #banner img {
	width:100%;
} */

/* ----------- Side Panel ------------ */

aside {
	order: 4;
	display: block;
	width: 30%;
	height: 100% - 32px;
	
}


